@model DanceSchool.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<div class="centered-content">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-10">
            <h2 id="title">@ViewBag.Title</h2>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @class = "custom-form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="offset-sm-2 col-sm-8">
                        <input type="submit" value="Register" class="btn btn-outline-dark w-100" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
