@model DanceSchool.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Смена пароля";
}


<div class="centered-content">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h2 id="title">@ViewBag.Title</h2>
            <div class="row">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form", @class="custom-form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-5 col-form-label" })
                        <div class="col-sm-7">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-5 col-form-label" })
                        <div class="col-sm-7">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-5 col-form-label" })
                        <div class="col-sm-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-sm-2 col-sm-8">
                            <input type="submit" value="Change password" class="btn btn-outline-dark" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}