@using DanceSchool.Models
@model DanceSchool.Models.IndexViewModel
@{
    ViewBag.Title = "Личный кабинет";
}

<div class="centered-content">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-10">
            <h2 id="title">@ViewBag.Title</h2>
            <hr />
            <div class="row offset-sm-2 col-sm-8">
                <div class="col-sm-4 overflow-hidden">
                    @{
                        if (Model.Picture != null)
                        {
                            var imageSrc = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Picture)}";
                            <img src="@imageSrc" alt="ProfilePicture" class="w-100"/>
                        }
                    }
                </div>
                <div class="col-sm-6 text-start">
                    <p class="col-sm-6 col-form-label w-100 ">@Model.Name</p>
                    <p class="col-sm-6 col-form-label w-100">
                        Роль: @(Model.IsAdmin ? "Администратор" : "Пользователь")
                    </p>
                </div>
            </div>
            <hr/>
            <div class="row offset-sm-2 col-sm-8">
                <div class="custom-form">
                    @Html.ActionLink("Сменить пароль", "ChangePassword", "Manage", null, new { @class = "row btn btn-outline-dark col-sm-10" })
                    @using (Html.BeginForm("ChangeRole", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "custom-form" }))
                    {
                        @Html.AntiForgeryToken()
                            <input type="submit" value="Сменить роль" class="btn btn-outline-dark col-sm-10"/>
                    }
                </div>
                @using (Html.BeginForm("UpdatePicture", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "custom-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <h5>Смена иконки профиля</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="file" name="imageFile" class="form-control"/>
                        </div>
                        <input type="submit" value="Сохранить" class="btn btn-outline-dark col-sm-4"/>
                    </div>
                }
            </div>
            <div class="row">
                <div class="custom-form">
                    <hr/>
                    <div class="row">
                        <h5>Записи</h5>
                    </div>
                    <div class="row">
                        @Html.Partial("LessonTable", Model.Registrations.Select(r => r.Lesson.ToViewModel() as LessonModel))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>